
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* css nav style*/

ul{
    list-style: none;
   background-color: white;

}
ul li{
    display: inline-block;
    position: relative;
    
}
ul li a{
    display: block;
    padding: 25px 27px;
    color: black;
    text-decoration: none;
    font-size: 14px;
    color: black;
}
ul li ul.dropdown li{
   display: block;
   border-bottom:1px solid rgba(243, 230, 230, 0.945);
}
ul li ul.dropdown{
    width: 150%;
    background:whitesmoke;
    position: absolute;
    z-index: 999;
    display: none;  
}

ul .dropdown li a{
    padding:10px 10px;
}
ul li a:hover{
   color:orange;
   background-color: rgba(255, 255, 255, 0.253);

}
ul li:hover ul.dropdown{
    display: block;
}
.nav-container{
    display: flex;
    width: 100%;
    font-family:neucha,sans-serif;
    position: relative;
}
.nav-container img{
    height: 80px;
    width: 80px;
    margin-left:50px;
    display:inline-block;
}

/* content box style*/
.content{
    background-color: #e9e8e8c0;
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content p{
    font-size: 16px;
    font-family: "poppins",sans-serif;
    color: rgb(75, 72, 72);
    margin-right: 10%;
    line-height: 30px;
}
.content img{
    margin-left:10%;
}

/* product style*/

.container{
    padding: 15px 9%;
    padding-bottom:100px;
}


.container .heading{
    text-align: center;
    padding-bottom: 15px;
    margin-top: 25px;
    font-size: 45px;
    font-family: "neucha",sans-serif;
    color:rgba(0,0,0,0.7);
    text-transform: uppercase;
    margin-bottom: 40px;

}
.container .box-product .products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.container .box-product .products h2{
    color:rgba(0,0,0,0.8);
    font-size: 20px;
    font-family: "poppins",sans-serif;
    font-weight: 500;
}

.container .box-product .products p{
    margin-top: 12px;
    font-size: 13px;
    color: rgba(0,0,0,0.7);
    font-family: "poppins",sans-serif;
}
.container .box-product .products .btn{
    width: 160px;
    margin-top: 20px;
    padding: 12px;
    color: white;
    background-color: rgb(252, 189, 72);
    border: none;
    font-size: 16px;
    font-family: "poppins",sans-serif;
    border-radius: 5px;
    font-weight: 500;
}

.container .box-product .products .btn:hover{
    cursor: pointer;
    color:  rgb(252, 189, 72);;
    background-color: white;
    border: 1px solid  rgb(252, 189, 72);
}

/* content-2 style*/
.content-2{
    background-color: rgba(255, 234, 218, 0.836) ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 130%;
    height: 50%;
    position: relative;
    right:110px;
    margin-top: 10%; 
}
.content-2 img{
  position: relative;
  top:200px;
  left:200px;
  
}
.content-2 h1{
    font-family: "neucha",sans-serif;
    text-transform: uppercase;
    color: rgb(252, 189, 72);
    letter-spacing: 1px;
    font-size: 40px;
    font-weight: 700;
    margin-left: 30%;
    position: relative;
    bottom: 50px;
    
}
.content-2 .contents{
    position: relative;
    left:170px;
}

.content-2 p{
    margin-top: 4%;
    font-family: "poppins",sans-serif;
    color: rgb(80, 77, 77);
    margin-left: 30%;
    position: relative;
    bottom: 50px;

}
.content-2 .para-2{
    margin-top: 20px;
}
.content-2 .para-2 a{
    text-decoration: none;
    color:rgb(13, 147, 192);
}

.content-2 .btn{
    width: 160px;
    margin-top: 20px;
    padding: 12px;
    color: white;
    background-color: rgb(252, 189, 72);
    border: none;
    font-size: 16px;
    font-family: "poppins",sans-serif;
    border-radius: 5px;
    font-weight: 500;
    margin-left: 30%;
    position: relative;
    bottom: 30px;
}
/* footer style*/

.footer{
    width: 120%;
    height: 100px;
    background-color:#252525;
    border-top-color: rgba(255, 255, 255,0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    right:10%;
}
.footer-content {
  background-color:#252525;
  color:white;
  font-family: "poppins",sans-serif;
  font-size: 14px;
  position: absolute;
  top:30px;
  left:2%;
  
}
.footer-content p{
    color:white;
    display: inline;
    opacity: 0.7;
}
.footer-content a{
  text-decoration: none;
  color: blue;
}

.footer .social{
    float: right;
    margin-top: 20px;
    background-color:#252525;
}
.footer .social i{
   color: #626262;
   font-size: 17px;
   position: relative;
   bottom:10px;
   
}
.footer .social i:hover{
    cursor: pointer;
    color: white;
}

